.header {
    background-color: var(--black);
    height: var(--header-height);
    min-width: var(--min-width);
}

.header__event-dropdown-wrapper {
    display: flex;
    margin-left: 116px;
    flex-shrink: 0;
}

.header__text-near-event-dropdown {
    height: 31px;
    line-height: 31px;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    margin-right: 17px;
    color: #ffffff;
}

.header__logo {
    display: inline-block;
    margin: 0 92px 0 25px;
    width: 239px;
    height: 30px;
}

.header__block {
    width: 1125px;
}

.header__extend-search {
    cursor: pointer;
    display: inline-block;
    font-size: calc(var(--global-font-size) - 3px);
    text-transform: uppercase;
    text-align: left;
    margin: 3px 19px 0;
    min-width: 300px;
    color: white;
}

.header__action-settings {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    margin-left: 19px;
    display: inline-block;
}

.header__bell-icon {
    margin-right: 30px;
    width: 21px;
    height: 21px;
}

.header__user-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__search-event {
    display: flex;
    height: 100%;
    align-items: center;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: var(--min-width);
    /*max-width: calc(var(--questions-header-max-width) + var(--left-menu-width) + 40px);*/
}

@media (max-width: 1919px) {
    .header__event-dropdown-wrapper {
        margin-left: 84px;
    }

    .header__event-dropdown-wrapper .dropdown.event-dropdown {
        margin-top: 2px;
    }

    .header__text-near-event-dropdown {
        margin-right: 14px;
        font-size: 10px;
        letter-spacing: 0.11px;
    }

    .header__logo {
        width: 176px;
        height: 25px;
        margin-left: 20px;
        margin-right: 125px;
    }

    .header__block {
        width: initial;
    }

    .header__user-info-container {
        width: 100%;
    }

    .header__bell-icon {
        width: 15px;
        height: 15px;
    }

    .header__extend-search {
        min-width: 170px;
        font-size: 11px;
    }
}

@media (max-width: 1599px) {
    .header__wrapper {
        max-width: 100%;
    }

    .header__logo {
        margin-right: 80px;
    }
}