:root {
    --green: #68c981;
    --global-font-size: 16px;

    --max-width: 1600px;
    /*--min-width: 1600px;*/
}

.icon {
    vertical-align: middle;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


body {
    font-family: SeroPro, sans-serif;
    font-size: var(--global-font-size);
}

html, body, #root {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: center;
    cursor: default;
}

.wrapper {
    /*height: calc(100% - var(--header-height));*/
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    cursor: default;
    max-width: var(--max-width);
    /*min-width: var(--min-width);*/
}
